@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Fredoka-Regular';
    src: url(./Fredoka-Regular.woff2) format('woff2');
}

@font-face {
    font-family: 'NotoSansThai-Regular';
    src: url(./NotoSansThai-Regular.woff2) format('woff2');
  }

html {
    font-family: 'NotoSansThai-Regular';
}

.eng {
    font-family: 'Fredoka-Regular';
}